{% extends "layout.html" %}

{% block title %}Calcolo Giornata - Fanta Moto{% endblock %}

{% block body %}
<div style="background-color: blue;">
    <p class="titoloscelta toppagina">Calcolo Giornata</p>
</div>
<div class="imppagina">
    <select id="giornata" style="margin-bottom: 20px; background-color: gainsboro;" class="form-select calcgiornata">
        <option value="0" selected>Seleziona giornata</option>
        {% for giornata in giornate %}
        <option value="{{ giornata.id }}">{{giornata.id}} - {{giornata.posto}}</option>
        {% endfor %}
    </select>
    <select id="utente" style="margin-bottom: 20px; background-color: gainsboro;" class="form-select calcgiornata">
        <option value="0" selected>Seleziona utente</option>
        {% for utente in utenti %}
        <option value="{{ utente.id }}">{{utente.username}}</option>
        {% endfor %}
    </select>
    <button id="button" class="btn btn-primary btn-lg" style="width: 100%;">Prosegui</button>
</div>
<script>
    document.getElementById('button').onclick = function() {
        console.log("hello")
        g = document.getElementById("giornata");
        u = document.getElementById("utente");
        id = g.options[g.selectedIndex].value;
        utente = u.options[u.selectedIndex].value;
        window.location.href = "calcolo_formazione/" + id + "/" + utente;
    }
</script>
{% endblock %}