{% extends "layout.html" %}

{% block title %}Calendario - FantaMoto{% endblock %}

{% block body %}
<div class="imppagina">
    <div id="cale-scroll" class="cale-scrollmenu">
        {% for giornata in giornate %}
            {% if giornata.id == ultima %}
            <a class="cale-opzione cale-moto" id="attivo" num="{{ forloop.counter }}" onclick="cambia_attivo(event)">{{ giornata.id }}</a>
            {% else %}
            <a class="cale-opzione cale-moto" num="{{ forloop.counter }}" onclick="cambia_attivo(event)">{{ giornata.id }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% for giornata in sfide %}
    <div id="{{forloop.counter}}" class="cale-giornata">
        {% for giorno in giornate %}
            {% if giorno.id == forloop.parentloop.counter %}
            <p class="cale-posto">{{ giorno.posto }}</p>
            {% endif %}
        {% endfor %}
        {% for scontro in giornata %}
        <div class="cale-scontro">
            <a href="{{forloop.parentloop.counter}}/{{scontro.0}}-{{scontro.1}}" class="cale-pulsante">
                {% for persona in scontro %}
                <div class="cale-utente">
                    {% for uno in tutti %}
                        {% if uno.username == persona %}
                        <img class="cale-utenteimg" src="{{ uno.immagine }}">
                        <p>{{ persona }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </a>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}