{% extends "layout.html" %}

{% block title %}Classifica Punti - Fanta Moto{% endblock %}

{% block body %}
<div style="background-color: blue;">
  <p class="titoloscelta toppagina">Classifica</p>
</div>
<div class="imppagina">
  <a style="width:49%" href="classifica_scontri" class="btn btn-secondary btn-lg">Classifica Scontri</a>
  <button style="width:49%" class="btn btn-primary btn-lg">Classifica Punti</button>
  <table class="table table-striped" style="margin-top: 5vh;">
    <thead>
      <tr style="text-align: center;">
        <th scope="row">#</th>
        <td style="font-weight:bold">User</td>
        <td style="font-weight:bold">Punti</td>
        <td style="font-weight:bold">Diff.</td>
      </tr>
    </thead>
    <tbody style="text-align: center;">
      {% for rank in ranking %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ rank.username }}</td>
        <td>{{ rank.p_generali }}</td>
        <td>{{ rank.differenza }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}