{% extends "layout.html" %}

{% block title %}Home - Fanta Moto{% endblock %}

{% block body %}
<div style="background-color: blue;">
  <p class="titoloscelta toppagina">Fanta Moto</p>
</div>
<div class="imppagina">
  <a href="scelta_formazione" class="btn btn-success btn-lg" style="width: 100%; margin-top: 5vh;">Inserisci formazione</a>
  <p style="margin-top: 30px; color:red; text-align: center;"><b>{{ nextgara.posto }} - {{ nextgara.data }}</b></p>
  {% if nextgara.motoe %}
  <p style="color:red; text-align: center; font-weight: bold;">QUESTA GIORNATA CI SARÀ LA MOTOE!!!</p>
  {% else %}
  <p style="color:black; text-align: center;">Questa giornata NON ci sarà la MotoE</p>
  {% endif %}
  <a href="classifica_scontri" class="btn btn-secondary btn-lg" style="width: 100%; margin-top: 7vh;">Classifica</a>
  <a href="rose" class="btn btn-secondary btn-lg" style="width: 100%; margin-top: 5vh;">Rose</a>
  <a href="calendario" class="btn btn-secondary btn-lg" style="width: 100%; margin-top: 5vh;">Calendario</a>
  <a href="calcolo_scelta" class="btn btn-secondary btn-lg" style="width: 100%; margin-top: 5vh;">Calcolo giornata</a>
</div>
{% endblock %}