{% extends "layout.html" %}

{% block title %}Rosa di {{ utente }} - FantaMoto{% endblock %}

{% block body %}
<div class="imppagina">
  <h1 class="rosa-utente">Rosa di {{ utente }}</h1>
  <table class="rosa-tavola table">
    <thead>
      <tr class="rosa-testa">
        <th scope="col">Pilota</th>
        <th scope="col">Categoria</th>
        <th scope="col">Punti</th>
      </tr>
    </thead>
    <tbody>
      {% for pilota in piloti %}
      <tr>
        <td>{{ pilota.nome }}</td>
        <td>{{ pilota.categoria }}</td>
        <td>{{ pilota.totale }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <table class="rosa-tavola table">
    <thead>
      <tr class="rosa-testa">
        <th scope="col">Team</th>
        <th scope="col">Categoria</th>
        <th scope="col">Punti</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
      <tr>
        <td>{{ team.nome }}</td>
        <td>{{ team.categoria }}</td>
        <td>{{ team.totale }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <table class="rosa-tavola table">
    <thead>
      <tr class="rosa-testa">
        <th scope="col">Team Manager</th>
        <th scope="col">Punti</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ tm.nome }}</td>
        <td>{{ tm.totale }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}