{% extends "layout.html" %}
{% block title %} Seleziona Fanta {% endblock %}

{% block body %}
<div class="imppagina" style="background-color: rgb(200, 200, 200); height: 100%; margin-top: -5%;">
    <h1 style="text-align: center; padding-top: 5%;">Scegliere il fanta:</h1>
    <div class="scelta" style="padding-top: 5%;">
        <a href="../fantamoto">
            <img class="immagine" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Moto_Gp_logo.svg">
        </a>
    </div>
    <hr>
    <div class="scelta" style="padding-top: 10%;">
        <a href="../fantaformula">
            <img class="immagine" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/2560px-F1.svg.png">
        </a>
    </div>
</div>
{% endblock %}