{% extends "layout.html" %}

{% block title %}Login - Fanta Moto {% endblock %}

{% block body %}
<div style="background-color: black;">
    <p class="titoloscelta toppagina">Fanta</p>
</div>
<div class="imppagina">
    <p class="titoloscelta" style="text-align: center; margin-top: 10vh;">Register</p>
    {% if message %}
    <p style="color: red; font-size: larger; font-weight: bold; text-align: center;">{{ message }}</p>
    {% endif %}
    <form action="{% url 'register' %}" method="POST" autocomplete="off" style="margin-top: 10vh;">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" placeholder="Inserire username qui">
      </div>
      <br>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Inserire password qui">
      </div>
      <button style="cursor: pointer; width: 100%; text-align: center; margin-top: 10vh;" type="submit" class="btn btn-primary">Registra</button>
    </form>
</div>
{% endblock %}