{% extends "layout.html" %}
{% block title %}Cambio gara - Fanta Formula{% endblock %}

{% block body %}
<div class="imppagina">
    <form style="text-align: center;" method="POST" action="adm-gara" onsubmit="return confirm('Confermare le modifiche?');">
        {% csrf_token %}
        <h1>Seleziona giornata</h1>
        <select name="gara" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            {% for gara in gare %}
            <option value="{{ gara.posto }}">{{gara.id}} - {{gara.posto}}</option>
            {% endfor %}
        </select>
        <div class="d-grid gap-2">
            <input id="annullata" type="hidden" name="annullata" value="">
            <button class="btn btn-warning" type="button" onclick="annullaGara()"><b>CANCELLARE LA GARA?</b></button>
        </div>
        <br>
        <h1>Modifica nome della gara</h1>
        <input type="text" name="nome" placeholder="Inserire nuovo nome" class="form-control">
        <br>
        <h1>Modifica categorie in gara</h1>
        <div class="form-check form-check-inline">
            <input name="Sprint" class="form-check-input" type="checkbox" id="inlineCheckbox0" value="Sprint">
            <label class="form-check-label" for="inlineCheckbox0">Sprint (F1)</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="F1" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="F1">
            <label class="form-check-label" for="inlineCheckbox1">F1</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="F2" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="F2">
            <label class="form-check-label" for="inlineCheckbox2">F2</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="F3" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="F3">
            <label class="form-check-label" for="inlineCheckbox3">F3</label>
        </div>
        <br>
        <br>
        <h1>Cambia orario per la formazione</h1>
        <input name="orario" type="datetime-local" class="form-control">
        <br>
        <div class="d-grid gap-2">
            <button id="submit" class="btn btn-danger" type="submit">Conferma</button>
        </div>
    </form>
    <br>
</div>
{% endblock %}