{% extends "layout.html" %}

{% block title %}Calcolo Giornata - FantaFormula{% endblock %}

{% block body %}
<div class="imppagina">
    <h1 class="calc-titolo">
        Ti aspetta un compito difficile, riservato a pochi ed affidabili... 
        il calcolo dei punteggi! Sei pronto?
    </h1>
    <p class="calc-titolo">Per favore non sbagliare :(</p>
    <p class="calc-label">Seleziona giornata da calcolare</p>
    <select id="calc-select" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        {% for giornata in giornate %}
        <option value="{{ giornata.id }}">{{giornata.id}} - {{giornata.posto}}</option>
        {% endfor %}
    </select>
    <button id="calc-btn" class="btn btn-danger btn-lg calc-btn">Prosegui</button>
</div>
{% endblock %}