{% extends "layout.html" %}

{% block title %}Calcolo Formazione - FantaFormula{% endblock %}

{% block body %}
<div class="imppagina">
    <h1 class="gior-titolo">{{id}} - {{posto}}</h1>
    <button id="btn-calcavviso" class="btn btn-danger">Clicca qui per avere più info su come calcolare le giornate</button>
    <div id="calcavviso" style="display: none;">
        <p class="gior-sotto">Indicare nelle caselle la posizione di arrivo in gara. Se lasciate vuote, saranno assegnati 0 punti (considerati come arrivati dopo al 10°).</p>
        <p class="gior-sotto">Ricordati di segnare tutti i DNF!</p>
        <p class="gior-sotto">Se non c'è la Sprint Race, lascia le caselle della Sprint Race vuote.</p>
        <p class="gior-avviso">Se un pilota è infortunato/assente, assegnagli i punti fatti dal sostituto o lascia vuoto se non è stato sostituito.</p>
        <p style="text-align: center;">Il calcolo potrebbe richiedere qualche secondo.</p>
    </div>
    <form method="POST" action="calcolo-{{id}}" onsubmit="return confirm('Confermare tutti i risultati?');">
        {% csrf_token %}
        <!--Formula1-->
        <h2 class="gior-cat">Formula1</h2>
        {% for pilota1 in piloti1 %}
        <div class="gior-pilota">
            <div class="gior-left">
                <p>{{ pilota1.nome }}</p>
            </div>
            <div class="gior-right">
                <div>
                    <p class="gior-item" style="margin-right: 3%;">Qualifica</p>
                    <div class="btn-group gior-item" role="group" aria-label="radio toggle button group">
                        <input id="1-{{pilota1.nome}}" name="quali-1-{{pilota1.nome}}" value="1" type="radio" class="btn-check btn-sm" autocomplete="off">
                        <label for="1-{{pilota1.nome}}" class="btn btn-outline-danger btn-sm">1</label>
                        <input id="2-{{pilota1.nome}}" name="quali-1-{{pilota1.nome}}" value="2" type="radio" class="btn-check btn-sm" autocomplete="off">
                        <label for="2-{{pilota1.nome}}" class="btn btn-outline-danger btn-sm">2</label>
                        <input id="3-{{pilota1.nome}}" name="quali-1-{{pilota1.nome}}" value="3" type="radio" class="btn-check btn-sm" autocomplete="off">
                        <label for="3-{{pilota1.nome}}" class="btn btn-outline-danger btn-sm">3</label>
                    </div>
                </div>
                {% if sprint %}
                <div>
                    <label for="spr-gara-1-{{pilota1.nome}}" class="gior-item" style="margin-bottom: 2%;">Sprint:</label>
                    <input id="spr-gara-1-{{pilota1.nome}}" name="spr-gara-1-{{pilota1.nome}}" type="number" class="gior-item">
                    <div class="form-check form-check-inline">
                        <label for="spr-dnf-1-{{pilota1.nome}}" class="form-check-label">DNF</label>
                        <input id="spr-dnf-1-{{pilota1.nome}}" name="spr-dnf-1-{{pilota1.nome}}" value=1 type="checkbox" class="form-check-input">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="spr-fl-1-{{pilota1.nome}}" class="form-check-label">FL</label>
                        <input id="spr-fl-1-{{pilota1.nome}}" name="spr-fl-1-{{pilota1.nome}}" value=1 type="checkbox" class="form-check-input">
                    </div>
                </div>
                {% endif %}
                <div>
                    <label for="feat-gara-1-{{pilota1.nome}}" class="gior-item" style="margin-bottom: 2%;">Feature:</label>
                    <input id="feat-gara-1-{{pilota1.nome}}" name="feat-gara-1-{{pilota1.nome}}" type="number" class="gior-item">
                    <div class="form-check form-check-inline">
                        <label for="feat-dnf-1-{{pilota1.nome}}" class="form-check-label">DNF</label>
                        <input id="feat-dnf-1-{{pilota1.nome}}" name="feat-dnf-1-{{pilota1.nome}}" value=1 type="checkbox" class="form-check-input">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="feat-fl-1-{{pilota1.nome}}" class="form-check-label">FL</label>
                        <input id="feat-fl-1-{{pilota1.nome}}" name="feat-fl-1-{{pilota1.nome}}" value=1 type="checkbox" class="form-check-input">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--Formula2-->
        {% if f2 %}
        <h2 class="gior-cat">Formula2</h2>
        {% for pilota2 in piloti2 %}
        <div class="gior-pilota">
            <div class="gior-left">
                <p>{{ pilota2.nome }}</p>
            </div>
            <div class="gior-right">
                <div>
                    <p class="gior-item" style="margin-right: 3%;">Qualifica</p>
                    <div class="btn-group gior-item" role="group" aria-label="radio toggle button group">
                        <input id="1-{{pilota2.nome}}" name="quali-2-{{pilota2.nome}}" value="1" type="radio" class="btn-check btn-sm" autocomplete="off">
                        <label for="1-{{pilota2.nome}}" class="btn btn-outline-danger btn-sm">1</label>
                        <input id="2-{{pilota2.nome}}" name="quali-2-{{pilota2.nome}}" value="2" type="radio" class="btn-check btn-sm" autocomplete="off">
                        <label for="2-{{pilota2.nome}}" class="btn btn-outline-danger btn-sm">2</label>
                        <input id="3-{{pilota2.nome}}" name="quali-2-{{pilota2.nome}}" value="3" type="radio" class="btn-check btn-sm" autocomplete="off">
                        <label for="3-{{pilota2.nome}}" class="btn btn-outline-danger btn-sm">3</label>
                    </div>
                </div>
                <div>
                    <label for="spr-gara-2-{{pilota2.nome}}" class="gior-item" style="margin-bottom: 2%;">Sprint:</label>
                    <input id="spr-gara-2-{{pilota2.nome}}" name="spr-gara-2-{{pilota2.nome}}" type="number" class="gior-item">
                    <div class="form-check form-check-inline">
                        <label for="spr-dnf-2-{{pilota2.nome}}" class="form-check-label">DNF</label>
                        <input id="spr-dnf-2-{{pilota2.nome}}" name="spr-dnf-2-{{pilota2.nome}}" value=1 type="checkbox" class="form-check-input">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="spr-fl-2-{{pilota2.nome}}" class="form-check-label">FL</label>
                        <input id="spr-fl-2-{{pilota2.nome}}" name="spr-fl-2-{{pilota2.nome}}" value=1 type="checkbox" class="form-check-input">
                    </div>
                </div>
                <div>
                    <label for="feat-gara-2-{{pilota2.nome}}" class="gior-item" style="margin-bottom: 2%;">Feature:</label>
                    <input id="feat-gara-2-{{pilota2.nome}}" name="feat-gara-2-{{pilota2.nome}}" type="number" class="gior-item">
                    <div class="form-check form-check-inline">
                        <label for="feat-dnf-2-{{pilota2.nome}}" class="form-check-label">DNF</label>
                        <input id="feat-dnf-2-{{pilota2.nome}}" name="feat-dnf-2-{{pilota2.nome}}" value=1 type="checkbox" class="form-check-input">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="feat-fl-2-{{pilota2.nome}}" class="form-check-label">FL</label>
                        <input id="feat-fl-2-{{pilota2.nome}}" name="feat-fl-2-{{pilota2.nome}}" value=1 type="checkbox" class="form-check-input">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <button class="btn btn-danger btn-lg gior-btn" type="submit">Conferma</button>
    </form>
</div>
{% endblock %}