{% extends "layout.html" %}

{% block title %}Formazione - FantaFormula{% endblock %}

{% block body %}
<div class="imppagina">
    <h1 class="form-gara">#{{ nextgara.id }} - {{ nextgara.posto }}</h1>
    <p class="form-entro">Entro {{ nextgara.data }}</p>
    {% if nextgara.f2 %}
    <p class="form-spiega" style="color: red;">4 piloti, 2 team e TM (ogni categoria, con Formula2)</p>
    {% else %}
    <p class="form-spiega">2 piloti, un team e TM (ogni categoria, no Formula2)</p>
    {% endif %}
    <br>
    <form method="POST" action="schieramento">
        {% csrf_token %}
        <div class="form-cate">
            <div class="form-opnome">
                <h4>Pilota</h4>
            </div>
            <div class="form-opcat">
                <h6>Categoria</h6>
            </div>
            <div class="form-risultati">
                <h6>Ultimi risultati</h6>
            </div>
        </div>
        {% for pilota in piloti %}
            {% if not nextgara.f2 and pilota.categoria == "F2" %}
            <div class="form-opzione" style="display: none;"></div>
            {% else %}
            <div class="form-opzione form-formula">
                <input type="checkbox" id="form-check" name="piloti" value="{{pilota.nome}} - {{pilota.categoria}}" style="display: none">
                <div class="form-opnome">
                    <p>{{ pilota.nome }}</p> 
                </div>
                <div class="form-opcat">
                    <p>{{ pilota.categoria }}</p>
                </div>
                <div class="form-risultati">
                    <p>
                        {% if forloop.counter == 1 %}{{ punti_piloti.0.0 }} | {{ punti_piloti.0.1 }} | {{ punti_piloti.0.2 }}
                        {% elif forloop.counter == 2 %}{{ punti_piloti.1.0 }} | {{ punti_piloti.1.1 }} | {{ punti_piloti.1.2 }}
                        {% elif forloop.counter == 3 %}{{ punti_piloti.2.0 }} | {{ punti_piloti.2.1 }} | {{ punti_piloti.2.2 }}
                        {% elif forloop.counter == 4 %}{{ punti_piloti.3.0 }} | {{ punti_piloti.3.1 }} | {{ punti_piloti.3.2 }}
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <br>
        <div class="form-cate">
            <div class="form-opnome">
                <h4>Team</h4>
            </div>
            <div class="form-opcat">
                <h6>Categoria</h6>
            </div>
            <div class="form-risultati">
                <h6>Ultimi risultati</h6>
            </div>
        </div>
        {% for team in teams %}
            {% if not nextgara.f2 and team.categoria == "F2" %}
            <div class="form-opzione" style="display: none"></div>
            {% else %}
            <div class="form-opzione form-formula">
                <input type="checkbox" id="form-check" name="teams" value="{{team.nome}} - {{team.categoria}}" style="display: none;">
                <div class="form-opnome">
                    <p>{{ team.nome }}</p> 
                </div>
                <div class="form-opcat">
                    <p>{{ team.categoria }}</p>
                </div>
                <div class="form-risultati">
                    <p>
                        {% if forloop.counter == 1 %}{{ punti_teams.0.0 }} | {{ punti_teams.0.1 }} | {{ punti_teams.0.2 }}
                        {% elif forloop.counter == 2 %}{{ punti_teams.1.0 }} | {{ punti_teams.1.1 }} | {{ punti_teams.1.2 }}
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <br>
        <div class="form-cate">
            <div class="form-opnome">
                <h4>Team Manager</h4>
            </div>
            <div class="form-risultati">
                <h6>Ultimi risultati</h6>
            </div>
        </div>
        <div class="form-opzione form-formula">
            <input type="checkbox" id="form-check" name="tm" value="{{tm.nome}}" style="display:none">
            <div class="form-opnome">
                <p>{{ tm.nome }}</p> 
            </div>
            <div class="form-risultati">
                <p>{{ punti_tm.0 }} | {{ punti_tm.1 }} | {{ punti_tm.2 }}</p>
            </div>
        </div>
        <br>
        <button class="btn btn-danger btn-lg form-btn" type="submit">Salva formazione</button>
    </form>
</div>
{% endblock %}