{% extends "layout.html" %}

{% block title %}Home - FantaFormula{% endblock %}

{% block body %}
<div class="imppagina">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <a href="user" style="text-decoration: none;">
        <div class="home-profilo">
            <img class="circle-img" src="{{utente.immagine}}">
            <p class="home-utente">{{utente.username}}</p>
        </div>
    </a>
    {% if not ultimagara and not previousgara %}
    <p class="home-labelrisultato">Prima gara ancora da disputare</p>
    <div class="home-recente">
        <div class="home-risultato">
            -
        </div>
        <div class="home-risultato">
            -
        </div>
    </div>
    {% elif ultimagara and not previousgara %}
    <p class="home-labelrisultato">Ultimo risultato al {{ ultimagara.posto }}</p>
    <div class="home-recente">
        <div class="home-risultato" style="color:red">
            No formazione
        </div>
        <div class="home-risultato">
            0 punti
        </div>
    </div>
    {% else %}
    <p class="home-labelrisultato">Ultimo risultato al {{ ultimagara.posto }}</p>
    <div class="home-recente">
        {% if previousgara.risultato == 0 %}
        <div class="home-risultato" style="color:red">
            Sconfitta
        </div>
        <div class="home-risultato">
            {{ previousgara.p_totali }} punti
        </div>
        {% elif previousgara.risultato == 1 %}
        <div class="home-risultato" style="color:green">
            Vittoria
        </div>
        <div class="home-risultato">
            {{ previousgara.p_totali }} punti
        </div>
        {% elif previousgara.risultato == 2 %}
        <div class="home-risultato">
            Pareggio
        </div>
        <div class="home-risultato">
            {{ previousgara.p_totali }} punti
        </div>
        {% elif not previousgara.risultato %}
        <div class="home-risultato">
            Da calcolare
        </div>
        <div class="home-risultato">
            -
        </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="home-classifiche">
        <div class="home-class" style="color:black">
            <button id="btn-scontri" class="btn btn-danger home-classbtn">Classifica Scontri</button>
        </div>
        <div class="home-class">
            <button id="btn-punti" class="btn btn-danger home-classbtn">Classifica Punti</button>
        </div>
    </div>
    <div id="div-scontri" class="home-hidden" style="display: none">
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th scope="row">#</th>
                    <td style="font-weight:bold">User</td>
                    <td style="font-weight:bold">Punti</td>
                    <td style="font-weight:bold">Diff.</td>
                </tr>
            </thead>
            <tbody style="text-align: center;">
            {% for rank in s_ranking %}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ rank.username }}</td>
                  <td>{{ rank.p_scontri }}</td>
                  <td>{{ rank.differenza }}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="div-punti" class="home-hidden" style="display: none;">
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th scope="row">#</th>
                    <td style="font-weight:bold">User</td>
                    <td style="font-weight:bold">Punti</td>
                    <td style="font-weight:bold">Diff.</td>
                </tr>
            </thead>
            <tbody style="text-align: center;">
            {% for rank in p_ranking %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ rank.username }}</td>
                    <td>{{ rank.p_generali }}</td>
                    <td>{{ rank.differenza }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="home-icons">
        <div class="home-iconcolumn">
            <div class="home-icon">
                <a class="home-iconlink" href="../fantaformula/rose">
                    <p class="home-iconlabel">Rose</p>
                    <img width="30px" height="30px" src="static/helmet.png">
                </a>
            </div>
            <div class="home-icon">
                <a class="home-iconlink" href="../fantaformula/albo">
                  <p class="home-iconlabel">Albo d'oro</p>
                  <img width="30px" height="30px" src="static/trophy.png">
                </a>
            </div>
        </div>
        <div class="home-iconcolumn">
          <div class="home-icon">
            <a class="home-iconlink" href="../fantaformula/calendario">
                <p class="home-iconlabel">Calendario</p>
                <img width="30px" height="30px" src="static/calendar.png">
            </a>
          </div>
          <div class="home-icon">
            <a class="home-iconlink" href="../fantaformula/calcolo">
                <p class="home-iconlabel">Admin</p>
                <img width="30px" height="30px" src="static/calculator.png">
            </a>
          </div>
      </div>
    </div>
    {% if nextgara %}
    <div class="home-formazione">
        {% if schierata %}
        <p style="font-weight: bold;">Hai già schierato la formazione.</p>
        {% else %}
        <p class="home-avviso">NON HAI ANCORA SCHIERATO LA FORMAZIONE!</p>
        {% endif %}
        <p class="home-avviso"><b>{{ nextgara.posto }} - {{ nextgara.data }}</b></p>
        <p>
            Questa giornata ci sarà la 
            {% if "F1" in listacat %}F1 {% endif %}
            {% if "F2" in listacat %}F2 {% endif %}
            {% if "F3" in listacat %}F3 {% endif %}
            {% if "IndyCar" in listacat %}IndyCar {% endif %}
        </p>
    </div>
    <a href="fantaformula/formazione" class="btn btn-success btn-lg home-formazionebtn">Inserisci formazione</a>
    {% else %}
    <div class="home-finebox" style="background-color: darkred">
        <p class="home-fine">Sembra che sia finita la stagione. Com'è andata?</p>
    </div>
    {% endif %}
</div>
{% endblock %}