{% extends "layout.html" %}

{% block title %}Tutte le rose - Fanta Formula{% endblock %}

{% block body %}
<div style="background-color: red;">
    <p class="titoloscelta toppagina">Rose</p>
</div>
<div class="imppagina">
    {% for uno in tutti %}
    <a href="{% url 'formula_rosautente' uno.username %}" style="color: black">
        <div class="rosautente">
            <img class="imgutente" src="{{ uno.immagine }}">
            <p style="font-size: 30px; margin-bottom: 5px;">{{ uno.username }}</p>
        </div>
    </a>
    {% endfor %}
{% endblock %}